


    <div class="contain">
            <h1 class="title">Hello {{name}}!</h1>
            <ul>
                <li class="home"   routerLink="/"> <a>Search for Recipes</a></li>
                <li class="liked">Liked Recipes "Coming Soon"</li>
                <li class="create" routerLink="/userRecipes">Create New Recipe</li>
            </ul> 
    </div> 
    <mat-card>
            <app-posts></app-posts>
    </mat-card>
    
    
          


    <div class="underlay-photo"></div>
    <div class="underlay-black"></div>

      <!-- routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" -->