            <h3>Holiday Recipes</h3>
            <div class="row">
                <div class="row__inner">
                    <div class="tile" *ngFor="let eventRecipe of eventRecipes" [routerLink]="['/recipe', eventRecipe.id]">
                        <div class="tile__media">
                        <img class="tile__img" [src]="eventRecipe.image" />
                        </div>
                        <div class="tile__details">
                        <div class="tile__title" placeholder="eventRecipe.title">
                            {{eventRecipe.title}}
                        </div>
                        </div>
                    </div>
                </div>
              </div>
